.myButton {
    background-color: rgba(5, 109, 240, 0.71);
    cursor:pointer;
    color: lightblue;
    width: 190px;
    height: 80px;
    border-width: 7px;
    box-shadow: 5px 5px 7px rgba(5, 172, 255, 0.71);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.myCard {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.myLabel{
    font-family: fantasy;
    font-weight: bold;
    font-style: oblique;
}

.myCard:hover{
    color: lightcoral;
}
.myButton:hover {
    color: lavender;
}